* {
    /* Calculation */
    --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}

.h1-title {
    --max-font: 34;
    --min-font: 23;
    font-size: var(--responsive);
}
#customer-buttons button{
    margin: 20px;
}
.service-data{
    margin-top: 20px;
}
.service-data span {
    font-size: 16px;
    font-weight: 300;
}
.service-data div{
    text-align: center;
}

@media (min-width: 769px) {
    .service-data div:nth-child(1) {
        text-align: right;
      }
    .service-data div:nth-child(2) {
      text-align: left;
    }
}
/*
!!!!
This pen is being refactored
!!!!
*/

/*
=====
DEPENDENCES
=====
*/

/*
styles to reset headings https://github.com/melnik909/r-title
*/

.r-title{
    margin-top: var(--rTitleMarginTop, 0) !important;
    margin-bottom: var(--rTitleMarginBottom, 0) !important;
  }
  
  /* 
  styles of typography  https://github.com/melnik909/css-typography
  */
  
  p:not([class]){
    line-height: var(--cssTypographyLineHeight, 1.78);
    margin-top: var(--cssTypographyBasicMargin, 1em);
    margin-bottom: 0;
  }
  
  p:not([class]):first-child{
    margin-top: 0;
  }
  
  /*
  text component
  */
  
  .text{
    display: var(--textDisplay, inline-flex);
    font-size: var(--textFontSize, 1rem);  
  }
  
  /*
  time component
  */
  
  /*
  core styles
  */
  
  .time{
    display: var(--timeDisplay, inline-flex);
  }
  
  /*
  extensions
  */
  
  .time__month{
    margin-left: var(--timelineMounthMarginLeft, .25em);
  }
  
  /*
  skin
  */
  
  .time{
    padding: var(--timePadding, .25rem 1.25rem .25rem);
    background-color: var(--timeBackgroundColor, #f0f0f0);
  
    font-size: var(--timeFontSize, .75rem);
    font-weight: var(--timeFontWeight, 700);
    text-transform: var(--timeTextTransform, uppercase);
    color: var(--timeColor, currentColor);
  }
  
  /*
  card component
  */
  
  /*
  core styles
  */
  
  .card{
    padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
  }
  
  .card__content{
    margin-top: var(--cardContentMarginTop, .5rem);
  }
  
  /*
  skin
  */
  
  .card{
    border-radius: var(--timelineCardBorderRadius, 2px);
    border-left: var(--timelineCardBorderLeftWidth, 3px) solid var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
    box-shadow: var(--timelineCardBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    background-color: var(--timelineCardBackgroundColor, #fff);
  }
  
  /*
  extensions
  */
  
  .card__title{
    --rTitleMarginTop: var(--cardTitleMarginTop, 1rem);
    font-size: var(--cardTitleFontSize, 1.25rem);
  }
  
  /*
  =====
  CORE STYLES
  =====
  */
  
  .timeline{
    display: var(--timelineDisplay, grid);
    grid-row-gap: var(--timelineGroupsGap, 2rem);
  }
  
  /*
  1. If timeline__year isn't displaed the gap between it and timeline__cards isn't displayed too
  */
  
  .timeline__year{
    margin-bottom: 1.25rem; /* 1 */
  }
  
  .timeline__cards{
    display: var(--timeloneCardsDisplay, grid);
    grid-row-gap: var(--timeloneCardsGap, 1.5rem);
  }
  
  
  /*
  =====
  SKIN
  =====
  */
  
  .timeline{
    --uiTimelineMainColor: var(--timelineMainColor, #222);
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);
  
    border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  
  .timeline__year{
    --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
    --timeColor: var(--uiTimelineSecondaryColor);
    --timeBackgroundColor: var(--uiTimelineMainColor);
    --timeFontWeight: var(--timelineYearFontWeight, 400);
  }
  
  .timeline__card{
    position: relative;
    margin-left: var(--timelineCardLineGap, 1rem);
  }
  
  /*
  1. Stoping cut box shadow
  */
  
  .timeline__cards{
    overflow: hidden;
    padding-top: .25rem; /* 1 */
    padding-bottom: .25rem; /* 1 */
  }
  
  .timeline__card::before{
    content: "";
    width: 100%;
    height: var(--timelineCardLineWidth, 2px);
    background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));
  
    position: absolute;
    top: var(--timelineCardLineTop, 1rem);
    left: -50%;
    z-index: -1;
  }
  
  /*
  =====
  SETTINGS
  =====
  */
  /**/
  .timeline{
    --timelineMainColor: #4557bb;
  }
  
  /*
  =====
  DEMO
  =====
  */
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    color: #222;
  
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  p{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  p:last-child{
    margin-bottom: 0;
  }
  
  .page{
    max-width: 47rem;
    padding: 5rem 2rem 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  //galeria
  .my-app-custom-plain-container-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .my-app-custom-plain-container-row .my-app-custom-image-row {
    cursor: pointer;
    height: auto;
    margin-right: 2px;
    width: 50px;
  }
  .my-app-custom-plain-container-row .my-app-custom-image-row.after {
    border-top: 2px;
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .my-app-custom-plain-container-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .my-app-custom-plain-container-column .my-app-custom-image-column {
    cursor: pointer;
    height: auto;
    margin-right: 2px;
    width: 50px;
  }
  .my-app-custom-plain-container-column .my-app-custom-image-column.after {
    border-top: 2px;
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .my-app-custom-plain-container-with-desc {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .my-app-custom-plain-container-with-desc figure {
    margin: 0;
    position: relative;
  }
  .my-app-custom-plain-container-with-desc figure img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
  .my-app-custom-plain-container-with-desc figure figcaption {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 85%;
    padding: 5px;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
  }
  .my-app-custom-plain-container-with-desc .description {
    font-weight: bold;
    text-align: center;
  }
  .my-app-custom-plain-container-with-desc .my-app-custom-image-with-desc {
    height: auto;
    margin-right: 2px;
    width: 200px;
    align-self: start;
  }
  
  .more {
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    color: #fff;
    padding-top: 4px;
    height: 46px;
    position: absolute;
    text-align: center;
    width: 50px;
  }
  
  .projected {
    color: white;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    pointer-events: none;
  }
  
  .title {
    margin-top: 40px;
  }
  